@media (max-width: 900px) {
	#merits-section #access-anywhere img {
		width: 100%;
	}
}


@media (max-width: 685px) {
	h1 {  font-size: 2.3rem !important; }

	h2 {  font-size: 1.8rem !important; }

	h3 {  font-size: 1.4rem !important; }

	a {  font-size: 1rem !important; }

	#top-section .text-wrapper p {  font-size: 1.1rem !important; }

	#merits-section #track-snippets .description img {
		float: none;
		width: 90%;
		padding-left: 5%; padding-right: 5%;
		position: initial;
	}
	#track-snippets .description-text {
		padding: 5% 22%;
		text-align: center;
	}

	#workflow-tools .description {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 5% 22%;
	}

	#testimonials {
		padding: 20% 10% !important;
	}
}



@media (max-width: 605px) {
	.text-wrapper ~ a {
		display: block;
		padding: 5% 5% !important;
		border-radius: 20%/100% !important;
		font-size: 1.2rem;
		margin-top: 2% !important;
	}
	.bg-desktop {  display: none; }
	.bg-mobile {  display: initial !important; }
}



@media (max-width: 550px) {
	footer {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		    -ms-flex-direction: column !important;
		        flex-direction: column !important;
	}
	footer .references {
		grid-auto-flow: row;
		grid-template-columns: repeat(1,auto);
		text-align: center;
	}
}



@media (max-width: 475px) {

	h1 {  font-size: 2.2rem;}

	#top-section, #download-section {
		padding: 20% 10% !important;
	}
	/* each merit's title & description part */
	#merits-section>* .title,
	#merits-section>* .description,
	#merits-section>* .description-text {
		padding-left: 10% !important;
		padding-right: 10% !important;
	}
}